/* hier die Farben

green: A5B68D
beige: ECDFCC
hellbeige: FCFAEE
orange: DA8359
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359

*/

body {
    background-color: #FCFAEE;
}

h2 {
    background-color: #ECDFCC;
    text-align: center;
}

.projectsUDEMY {
    display: flex;
}

.cardPlayground {
    background-color: #A5B68D;
    border: 5px solid #FCFAEE;
    height: 200px;
    flex: 1;
}
