/* hier die Farben

green: A5B68D
beige: ECDFCC
hellbeige: FCFAEE
orange: DA8359
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359

*/

body {
    background-color: #FCFAEE;
}

h2 {
    background-color: #ECDFCC;
    text-align: center;
}

.moin {
    width: 200px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.container img {
    height: 300px;
}

.containerplayground {
    margin-left: 50px;
    margin-right: 50px;
}

.project-cards {
    height: 300px;
    border: 5px solid #FCFAEE;
    flex: 1;
}

.cardPlayground {
    background-color: #A5B68D;
    border: 5px solid #FCFAEE;
    height: 200px;
    flex: 1;
}
